body{
	width: 620.531px;
	margin: 0 auto;
	border: 1px solid red;
}
header{
	background-image: url(./anh/Layer_29.png);
	background-repeat: no-repeat;
	position: relative;
	height: 430px;
}
content{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
}
.background-opacity{
	background-color: black;
	height: 430px;
	width: 620.531px;
	position: absolute;
	top: 0;
	z-index: 2;
	opacity: 0.4;
}
.header-top{
	color: white;
	font-size: 25px;
}
.header-top span{
	float: right;
}
.fas{
	font-size: 26px;
	margin-right: 10px;
}
.header-center{
	margin: 0 auto;
	color: white;
}
.header-center img{
	width:100%;
	height:100%;
}
.header-center span{
	font-size: 30px;
}
.title span{
	font-size: 30px;
}
span{
	font-weight: bold;
}
.time-color{
	color: #4a4a4a;
	font-size: 24px;
	margin:10px 0;
}
h2{
	margin: 0;
}
.header-center div.icon-user1{
	background-image: url(./anh/hello.jpg);
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: auto;
}
.header-bottom p{
	font-size: 22px;
	margin:0 30px;
	height: 60px;
	color: white;
}
.header-bottom div{
	float: left;
	line-height: 60px;
	border-right: 1px solid white;
}
.icon-user2{
	background-image: url(./anh/hello.jpg);
	width: 70px;
	height: 70px;
	border-radius: 49px;
	margin-right:20PX; 
}
.title{
	margin: 20px;
	display: flex;
}
.background-img{
	height: 250px;
	background-image: url(./anh/frame-3.png);
}
.title-img{
	color: white;
	display: flex;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.5);
}
.title-img	i {
	line-height: 40px;
	margin: 0px 20px;
}
.title-img p{
	margin: 0;
	line-height: 40px;
}
.title-img p{
	font-weight: bold;
}
.paragrap{
	padding-bottom: 20px;
	margin: 20px;
	border-bottom: 1px solid #d6d6d6;
}
.paragrap span{
	display: block;
	font-weight: bold;
	font-size: 30px;
}
.paragrap p{
	font-size: 30px;
}
.set-like{
	float: right;
	line-height: 26px;
	margin-right: 10px;
}
.property-flex{
	display: flex;
	flex-direction: column;
}
.fa-heart{
	float: right;
}
.fa-ellipsis-h{
	float: right;
	margin-left: 30px;
}